div {
    display: block;
    position: relative;
}

.cleaner {
    width: 100%;
    clear: both;
    float: none;
    font-size: 1px;
    line-height: 1px;
    height: 0px;
}

.orange_fill {
    background-color: #ff5100;
}

.orange_text {
    color: #ff5100;
}

.orange_border {
    border-color: #ff5100;
}

.content {
    font-family: 'Roboto';
}