body {
    font-size: 16px;
}

@page {  
    header: html_otherpageheader;
    footer: html_otherpagesfooter;
}

@page :first {    
    header: html_firstpageheader;
    footer: html_firstpagefooter;
}

.content {
    width: 210mm;
    height: 297mm;
    padding-left: 15mm;
    padding-right: 15mm;
    padding-top: 0;
    padding-bottom: 15mm;
    line-height: 1.4;
    font-size: 0.9rem;
}

.content strong {
    font-family: 'RobotoBlack';
    font-weight: 400;
}

.logo {
    height: 8mm;
    width: 60mm;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    margin-left: 15mm;
    margin-bottom: -3.5mm;
}

.header_wrapper {
    display: inline-block;
    width: 170mm;
    margin-left: 15mm;
    text-align: right;
    margin-right: 25mm;
    border-style: solid;
    border-width: 2mm 5mm;
}

.invoice_divider {
    font-size: 0rem;
    line-height: 0;
    height: 0;
    border-bottom-width: 0.3mm;
    border-bottom-style: solid;
    margin-top: 6mm;
}

.header_spacer {
    height: 5mm;
}

.document_type {
    border-style: solid;
    border-width: 2mm 5mm;
    color: #fff;
    font-weight: bold;
    left: 30mm;
}

.footer_half {
    width: 50%;
    float: left;
}

.header_divider {
    font-size: 0rem;
    line-height: 0;
    height: 0;
    border-bottom-width: 0.3mm;
    border-bottom-style: solid;
    margin-top: 1.5mm;
    margin-left: 15mm;
    margin-right: 15mm;
}

.aligner {
    text-align: right;
    margin-right: 25mm;
}

h1 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2mm;
    border-bottom: 0px solid #eee;
}


p {
    padding-bottom: 0mm;
    padding-top: 0;
    margin: 0;
}

span.medium {
    font-family: 'RobotoMedium';
}

.footer_wrapper {
    margin-left: 15mm;
    margin-right: 15mm;
}

.footer_table {
    margin-top: 3mm;
}

.footer_table td {
    font-size: 0.8rem;
}

.footer_table {
    border-collapse: collapse;
}